body {
    margin-top: 10%;
    height: 100%;
    background-color: #ED6B86;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #291711;
}

.text-left {
    color: #F0FFFF;
}

.btn-group {
    float: right;
    position: absolute;
    right: 1.5em;
}

.card {
    width: 30rem;
}

.panel {
    background: transparent;
}

#acc {
    margin: 0 auto;
}