{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Story 8
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
</head>
<body>

    <div class="content">
        <div class="container">
            <div class="h-100 row align-items-center"> 
                <div class="col">
                    <h1>Accordion Anjay</h1>
                </div>
            </div>
        </div>

        <div class="container-sm justify-content-center">
            <div class="card border-danger" id="acc">
                <div class="card-header bg-danger">
                    <div class="btn-group">
                        <a class="btn btn-danger up">&ShortUpArrow;</i></a>
                        <a class="btn btn-danger down">&ShortDownArrow;</i></a>
                    </div>
                    <button class="btn btn-block text-left accordion bg-danger" type="button">
                        <h2 class="mb-0"></h2>Data Diri</h2>
                    </button>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body panel">
                        <p>Halo, saya Jsaon, mahasiswa Fasilkom UI tahun 2019. Web ini dibuat dalam rangka pengerjaan tugas PPW anjay</p>
                    </div>
                </div>
            </div>

            <div class="card border-danger" id="acc">
                <div class="card-header bg-danger">
                    <div class="btn-group">
                        <a class="btn btn-danger up">&ShortUpArrow;</i></a>
                        <a class="btn btn-danger down">&ShortDownArrow;</i></a>
                    </div>
                    <button class="btn btn-block text-left accordion bg-danger" type="button">
                        <h2 class="mb-0"></h2>Aktivitas</h2>
                    </button>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body panel">
                        <p>Sehari-hari yang saya lakukan hanya bangun, kuliah, nugas, main, tidur</p>
                    </div>
                </div>
            </div>

            <div class="card border-danger" id="acc">
                <div class="card-header bg-danger">
                    <div class="btn-group">
                        <a class="btn btn-danger up">&ShortUpArrow;</i></a>
                        <a class="btn btn-danger down">&ShortDownArrow;</i></a>
                    </div>
                    <button class="btn btn-block text-left accordion bg-danger" type="button">
                        <h2 class="mb-0"></h2>Kepanitiaan</h2>
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body panel">
                        <p>Saya apatis</p>
                    </div>
                </div>
            </div>

            <div class="card border-danger" id="acc">
                <div class="card-header bg-danger">
                    <div class="btn-group">
                        <a class="btn btn-danger up">&ShortUpArrow;</i></a>
                        <a class="btn btn-danger down">&ShortDownArrow;</i></a>
                    </div>
                    <button class="btn btn-block text-left accordion bg-danger" type="button">
                        <h2 class="mb-0"></h2>Prestasi</h2>
                    </button>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body panel">
                        <p>Saya jago tidur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
</body>
</html>